
:root {
    --text-color: #757575;
    --header-color: #212121;
    --logo-color: #000000;
    --accent-color: #2196F3;
    --bg-color: #FFFFFF;
    --secondary-bg-color:#F5F4FA;
    --additional-bg-color:#2F303A;
    --secondary-contact-color: rgba(255, 255, 255, 0.6);
    --separator-line-color: #ECECEC;
    --border-color: #EEEEEE;
    --box-shadow-color1: rgba(0, 0, 0, 0.15);
    --box-shadow-color2: rgba(0, 0, 0, 0.12);
    --box-shadow-color3: rgba(0, 0, 0, 0.14);
    --box-shadow-color4: rgba(0, 0, 0, 0.2);
    --box-shadow-color5: rgba(0, 0, 0, 0.1);
    --box-shadow-color6: rgba(0, 0, 0, 0.08);

}

/* Оформление основного текста */
body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  
  }

/* Делаем flex-контейнерами шапку, отдельно меню навигации и все списки */
.header, 
.nav, 
.list {
    display: flex;
}

/* Позиционируем элементы в шапке и во всех списках */
.header,
.list {
    align-items: center;
    justify-content: space-between;
}

/* Задаём ширину контента и центрируем его */
.header,
.team >.list {
    width: 1170px;
    margin: auto;
}

.section {
    width: 1170px;
    margin: 94px auto;
}

/* Стилизируем ссылки */
.link {
    color: var(--header-color);
    margin: 0 0 0 50px; 
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* Переопределяем цвет ссылок при наведении мышей или фокусе с клафиатуры,
    a также цвет ссылки текущей страницы */
.link:hover,
.link:focus,
.link.contact:hover,
.link.contact:focus,
.address-link:hover,
.address-link:focus,
.footer-contact:hover,
.footer-contact:focus,
.current {
    color: var(--accent-color);
}

/* Переопределаем цвет контактов */
.link.contact {
    color: var(--text-color);
}

/* Стилизируем списки (убираем маркеры и левый внутренний отступ) */
.list,
.address {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

/* Стилизируем логотип */
.logo {
    color: var(--logo-color);
    margin: 24px 0;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.sub-logo {
    color: var(--accent-color);
}

/* Позиционируем список навигации */
.nav-link {
    margin-left: 44px;
}

/* Разделительная черта между шапкой и остальной страницей */
.separate-line {
    height: 0px;
    border: 1px solid var(--separator-line-color);
}

/* Основной заголовок */
.hero {
    color: var(--bg-color);
    background-color: var(--additional-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan {
    width: 696px;
    margin: 0 auto;
    padding-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

/* Оформление и позиционирование кнопки */
.btn {
    color: var(--bg-color);
    background: var(--accent-color);
    margin: 30px auto 200px;
    padding: 10px 32px;
    border-width: 0;
    border-radius: 4px; 
    box-shadow: 0px 4px 4px var(--box-shadow-color1);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* Скрываем логические заголовки */
.unvisible {
    display: none;
}

/* Оформление подзаголовков */
.subtitle {
    color: var(--header-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

/* Оформление заголовков разделов(секций) */
.title {
    color: var(--header-color);
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Блок отдельного преимущества */
.feature {
    width: 270px;
}

/* Убираем лишние пустоты под изображениями в списках */
.list img {
    display: block;
}

/* Секция "Наша команда" */
.team {
    background-color: var(--secondary-bg-color);
    margin: 94px auto 0;
    padding: 94px 0;
}

/* Блок отдельного члена команды */
.member {
    background-color: var(--bg-color);
    text-align: center;
    box-shadow: 0px 1px 3px var(--box-shadow-color2), 
                0px 1px 1px var(--box-shadow-color3),
                0px 2px 1px var(--box-shadow-color4);
    border-radius: 0px 0px 4px 4px;
}

/* Стиль имени члена команды */
.name {
    color: var(--header-color);
    margin: 30px auto 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

/* Стиль для должности */
.position {
    color: var(--text-color);
    margin: 10px auto 30px;
    font-size: 16px;
    line-height: 1.19;
}

/* Переопределяем цвет фона Подвала */
.footer {
    background-color: var(--additional-bg-color);
}

/* Размер и позиционирование контента подвала */
.footer-container {
    width: 1170px;
    margin: auto;
    padding: 60px 0;
}

/* Переопределяем цвет логотипа в подвале */
.footer .logo {
    color: var(--bg-color);
}

/* Оформляем блок адреса */
.address{
    margin-top: 20px;
    font-style: normal;
}

/* Стилизируем ссылку адреса */
.address-link {
    color: var(--bg-color);
    text-decoration: none;
    display: block;
}

/* Стилизируем ссылки контактов в подвале */
.footer-contact {
    color: var(--secondary-contact-color);
    text-decoration: none;
    padding-top: 9px;
    display: block
}

/* Фильтр для примеров работ */
.filter {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

/* Оформляем кнопки фильтра */
.filter-btn {
    background: var(--secondary-bg-color);
    margin: 0 4px 30px;
    padding: 6px 22px;
    border-width: 0;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

/* Переопределяем цвет кнопок фильтра при наведении мыши и
   фокуса с клавиатуры */
.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--bg-color);
    box-shadow: 0px 3px 1px var(--box-shadow-color5),
                0px 1px 2px var(--box-shadow-color6),
                0px 2px 2px var(--box-shadow-color2);
}

/* Список примеров работ */
.examples {
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

/* GПример работы */
.work-example {
    width: 370px;
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid var(--border-color);;
    box-sizing: border-box;
}

/* Имя работы */
.work-name {
    color: var(--header-color);
    margin: 20px 24px 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* Тип работы */
.work-kind {
    margin: 4px 24px 20px;
    font-size: 16px;
    line-height: 1.88;
}



